/**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --main-background-color: white;
  --main-bg-secondary-color: #ff4d0e;
  --main-nav-backgrpund-color: white;
  --main-text-primary-color: black;
  --main-text-secondary-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.check-responsive {
  display: none;
}

/*menu mobile / tablet / escritorio*/
.menu-mobile img {
  height: 2rem;
}
.menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
}
.nav-menu {
  display: flex;
  background: #ff4d0e;
  padding: 5px 5px;
  position: relative;
  transform: translateY(-160px);
  /*transform anima la position del elemento*/
  transition-property: transform;
  /*especifica la duracion sino no hay animacion*/
  transition-duration: 1s;
  /*posiciona el elemento por debajo*/
  z-index: -1;
}
.nav-menu ul > li {
  margin-top: 5px;
  list-style-type: none;
}
.nav-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.8rem;
}
.ul-social {
  display: none;
}
/* muestra el menu oculto */
.check-responsive:checked + .nav-menu {
  display: flex;
  visibility: visible;
  transform: translateY(0px);
}
.container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.container-top p {
  text-align: center;
}
.buttons-top {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
}
.b-reserva a{
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 18px;
  padding: 5px 5px;
  text-decoration: none;
  transition: all .3s ease-in;
}
.b-more-info a{
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 18px;
  padding: 5px 10px;
  text-decoration: none;
  transition: all .3s ease-in;
}

.b-reserva a:hover {
  background: #96c5c4;
  
}
.b-more-info a:hover {
  background: #96c5c4;
  
}
.gappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
 

}
.gappers img{
 
 border-radius: 1rem;
 width: 80%;

 

}
.slogan{
  display: flex;
  flex-direction: column;
  background: #ff4d0e;
  margin-top: 15px;
  padding: 30px 10px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  
}
.container-mid{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.container-mid h2{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

}
.the-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.benefit-card1{
  background: #96c5c4;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  
}
.benefit-card2{
  background: #96c5c4;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  
}
.benefit-card3{
  background: #96c5c4;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  
}
.container-bot{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  background: #d2d2d2;

}
.right-col-bot{
  display: flex;
  flex-direction: column;
  width: 80%;

}
.right-col-bot img{
  
  border-radius: 10px;
  
}


/* cambia el menu a partir de 820px */
@media (min-width: 820px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
  }
  .nav-menu-responsive {
    visibility: collapse;
  }
  .nav-menu ul {
    display: flex;
    gap: 10px;
    margin-right: 30px;
    background: rgb(255, 255, 255);
  }
  .nav-menu {
    z-index: 2;
    transform: translateY(0px);
    background-color: white;
    margin-left: auto;
  }
  .nav-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
  }
  .ul-social {
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding-right: 6px;
    padding-top: 8px;
  }
  .ul-social > li > a > img {
    height: 30px;
  }
  header {
    box-shadow: 0px 12px 11px 0px #d2d2d2;
  }
  .container-top {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    
    
  }
  .left-column{
    display: flex;
    flex-direction: column;
    width: 50%;

  }
  .left-column h2{
    text-align: left;
    padding: 1rem;
  }
  .left-column p{
    text-align: left;
    padding: 1rem;
  }
  .buttons-top {
    display: flex;
    text-align: left;
    justify-content: start;
    padding-left: 1rem;
  }
  .slogan {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .the-cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }


}


/* :root {
  --main-background-color: white;
  --main-bg-secondary-color: #ff4d0e;
  --main-nav-backgrpund-color: white;
  --main-text-primary-color: black;
  --main-text-secondary-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  text-decoration: none;
  list-style-type: none;
}

header .nav-main, .ul-social, .ul-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  
 
}
.nav-main > img {
  height: 2rem;
}
.ul-social > li > a > img {
  height: 2rem;
  
}
.ul-main  {
  margin-left: auto; 
  gap: 10px;
}
.ul-main a {
  color: var(--main-text-primary-color)
}
.ul-social{
  gap: 5px;
  padding-left: 4rem;
} */

/* body {
  background-color: var(--main-background-color)
}
header {
  display: flex;
  height: 65px;
  width: 100%;
  background-color: var(--main-nav-backgrpund-color);
  margin: 0px 50px;
  justify-content: center;
  margin-bottom: 15px;
  box-shadow: 0px 12px 11px 0px #d2d2d2;
}

.nav-main {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  justify-content: space-between;
  width: 100%;
}
.nav-main > img {
  height: 45%;
}

.ul-main  {
  display: flex;
  gap: 15px;
  margin-left: auto;
  text-decoration: none;
}
.ul-main a {
  text-decoration: none;
  color: var(--main-text-primary-color)
}
.ul-social {
  display: flex;
  gap: 5px;
  margin-left: 100px;
}
.ul-social > li > a > img {
  height: 1.8rem;
}
main {
  display: flex;
  height: 1000px;
  width: 90%;
  background-color: var(--main-background-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
}
.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10px;
  
}
.principal {
  display: flex;
  width: 50%;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 80px 0px 80px;
}
.title h1 {
  font-size: 2.5rem;
  color: var(--main-text-primary-color);
}
.text {
  font-size: 1rem;
  color: var(--main-text-primary-color);
  padding-top: 10px;
}
.buttons-top{
  display: flex;
  justify-content: center;
  gap: 15px;
  
  
}
.b-reserva a{
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
}
.b-more-info a{
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
}
aside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.image {
  display: flex;
  justify-content: center;
}
.image img {
  height: 400px;
  border-radius: 10px;
}

.section-experience {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 150px 100px;
  background: var(--main-bg-secondary-color);
}
.section-experience h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-text-secondary-color);
}
.section-benefits{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 150px 100px;
}
.titulo-beneficios h2{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 150px 100px;
}

.ben-1, .ben-2, .ben-3 {
  
  text-align: center;

} */
