/**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --main-background-color: white;
  --main-bg-secondary-color: #ff4d0e;
  --main-nav-backgrpund-color: white;
  --main-text-primary-color: black;
  --main-text-secondary-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.check-responsive {
  display: none;
}

/*menu mobile / tablet / escritorio*/
.menu-mobile img {
  height: 2rem;
}
.menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
}
.nav-menu {
  display: flex;
  background: #ff4d0e;
  padding: 5px 5px;
  position: relative;
  transform: translateY(-160px);
  /*transform anima la position del elemento*/
  transition-property: transform;
  /*especifica la duracion sino no hay animacion*/
  transition-duration: 1s;
  /*posiciona el elemento por debajo*/
  z-index: -1;
}
.nav-menu ul > li {
  margin-top: 5px;
  list-style-type: none;
}
.nav-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.8rem;
}
.ul-social {
  display: none;
}
/* muestra el menu oculto */
.check-responsive:checked + .nav-menu {
  display: flex;
  visibility: visible;
  transform: translateY(0px);
}
.container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container-top p {
  text-align: center;
}
.buttons-top {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
}
.b-reserva a {
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 18px;
  padding: 5px 5px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.b-more-info a {
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 18px;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.b-reserva a:hover {
  background: #96c5c4;
}
.b-more-info a:hover {
  background: #96c5c4;
}
.gappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.gappers img {
  border-radius: 1rem;
  width: 80%;
}
.slogan {
  display: flex;
  flex-direction: column;
  background: #ff4d0e;
  margin-top: 15px;
  padding: 30px 10px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}
.container-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.container-mid h2 {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.the-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.benefit-card1 {
  background: #96c5c4;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
}
.benefit-card2 {
  background: #96c5c4;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
}
.benefit-card3 {
  background: #96c5c4;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
}
.container-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  background: #d2d2d2;
  padding-top: 20px;
  padding-bottom: 20px;
}
.right-col-bot {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.right-col-bot img {
  border-radius: 10px;
}

footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
footer img {
  height: 2rem;
}
.ul-social-footer {
  display: flex;
  gap: 5px;
  list-style-type: none;
  padding-right: 6px;
  padding-top: 8px;
}
.ul-social-footer > li > a > img {
  height: 30px;
}


/* cambia el menu a partir de 820px */
@media (min-width: 820px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
  }
  .nav-menu-responsive {
    visibility: collapse;
  }
  .nav-menu ul {
    display: flex;
    gap: 10px;
    margin-right: 30px;
    background: rgb(255, 255, 255);
  }
  .nav-menu {
    z-index: 2;
    transform: translateY(0px);
    background-color: white;
    margin-left: auto;
  }
  .nav-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
  }
  .ul-social {
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding-right: 6px;
    padding-top: 8px;
  }
  .ul-social > li > a > img {
    height: 30px;
  }
  header {
    box-shadow: 0px 12px 11px 0px #d2d2d2;
  }
  .container-top {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }
  .left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .left-column h2 {
    text-align: left;
    padding: 1rem;
  }
  .left-column p {
    text-align: left;
    padding: 1rem;
  }
  .buttons-top {
    display: flex;
    text-align: left;
    justify-content: start;
    padding-left: 1rem;
  }
  .slogan {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .the-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }
  .container-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    background: #d2d2d2;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    background: #d2d2d2;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .left-col-bot{
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: left;
    padding-left: 2rem;
  }
  .right-col-bot{
    width: 50%;

  }
}
