/**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --main-background-color: white;
  --main-bg-secondary-color: #ff4d0e;
  --main-nav-backgrpund-color: white;
  --main-text-primary-color: black;
  --main-text-secondary-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: rgb(243, 243, 243);
}
header {
  display: flex;
  height: 65px;
  width: 90%;
  background-color: var(--main-nav-backgrpund-color);
  margin: 0px 50px;
  justify-content: center;
  margin-bottom: 15px;
  box-shadow: 0px 12px 11px 0px #d2d2d2;
}

.nav-main {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  justify-content: space-between;
  width: 100%;
}
.nav-main > img {
  height: 45%;
}

.ul-main  {
  display: flex;
  gap: 15px;
  margin-left: auto;
  text-decoration: none;
}
.ul-main a {
  text-decoration: none;
  color: black;
}
.ul-social {
  display: flex;
  gap: 5px;
  margin-left: 100px;
}
.ul-social > li > a > img {
  height: 1.8rem;
}
main {
  display: flex;
  height: 1000px;
  width: 90%;
  background-color: var(--main-background-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
}
.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10px;
  
}
.principal {
  display: flex;
  width: 50%;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 80px 0px 80px;
}
.title h1 {
  font-size: 2.5rem;
  color: var(--main-text-primary-color);
}
.text {
  font-size: 1rem;
  color: var(--main-text-primary-color);
  padding-top: 10px;
}
.buttons-top{
  display: flex;
  justify-content: center;
  gap: 15px;
  
  
}
.b-reserva a{
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
}
.b-more-info a{
  background-color: var(--main-bg-secondary-color);
  color: var(--main-text-secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
}
aside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.image {
  display: flex;
  justify-content: center;
}
.image img {
  height: 400px;
  border-radius: 10px;
}

.section-experience {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 150px 100px;
  background: var(--main-bg-secondary-color);
}
.section-experience h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-text-secondary-color);
}
